[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[dev-packages]

[packages]
west = ">=0.6.3, <0.7.0"
windows-curses = {version = "*",sys_platform = "== 'win32'"}
breathe = ">=4.9.1"
colorama = "*"
docutils = ">=0.14"
gcovr = "*"
git-spindle = ">=2.0"
gitlint = "*"
junit2html = "*"
ply = ">=3.10"
pyelftools = ">=0.24"
pykwalify = "*"
pyocd = ">=0.24.0"
pyserial = "*"
pytest = "*"
sphinx-rtd-theme = "*"
sphinx-tabs = "*"
sphinxcontrib-svg2pdfconverter = "*"
Pillow = "*"
PyYAML = ">=5.1"
IntelHex = "*"
Sphinx = ">=1.7.5, <=2.4.0"
recommonmark = "==0.4.0"
sphinxcontrib-mscgen = "*"
ecdsa = "*"
nrfutil = "*"
pygit2 = "~=0.28.2"
editdistance = "~=0.5.0"
cryptography = "~=2.6"
click = "*"
imgtool = "~=1.4.0"
anytree = "*"
packaging = "*"
tabulate = "*"
wheel = "*"

[requires]
python_version = "3.7"
