name: Build Samples
on: 
  push:
  pull_request:
  schedule:
  # minute hour day-of-month month day-of-week
  - cron:  '0 * * * *'

env:
  ZEPHYR_TOOLCHAIN_VARIANT: gnuarmemb
  GNUARMEMB_TOOLCHAIN_PATH_macOS: /usr/local/Cellar/gcc-arm-none-eabi-83/20190709
  GNUARMEMB_TOOLCHAIN_PATH_Linux: /opt/gcc-arm-none-eabi-8-2019-q3-update
  GNUARMEMB_TOOLCHAIN_PATH_Windows: C:\gnuarmemb

jobs:
  build_samples:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2

    - name: Install macOS dependencies
      if: runner.os == 'macOS'
      run: brew bundle

    - name: Cache ARM GCC
      uses: actions/cache@v1
      with:
        path: downloads
        key: ${{ runner.os }}-v2 # bump this version number when changing any of the downloaded binaries

    - name: Install Linux dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get install wget file ninja-build gperf ccache dfu-util make gdb-multiarch xz-utils
        
        if [[ -d ./downloads ]]; then
          echo "Using cached downloads"
        else
          echo "Cached downloads missing. Downloading..."
          mkdir downloads
          wget -P ./downloads -nv http://mirrors.kernel.org/ubuntu/pool/main/d/device-tree-compiler/device-tree-compiler_1.4.7-3_amd64.deb
          wget -P ./downloads -nv https://github.com/Kitware/CMake/releases/download/v3.16.2/cmake-3.16.2-Linux-x86_64.tar.gz
          sudo wget -P ./downloads -nv https://s3-eu-west-1.amazonaws.com/resources.exploratory.engineering/gcc-arm-none-eabi-8-2019-q3-update-linux.tar.bz2
        fi

        # install device-tree-compiler
        sudo dpkg -i ./downloads/device-tree-compiler_1.4.7-3_amd64.deb

        # install cmake
        sudo tar zxf ./downloads/cmake-3.16.2-Linux-x86_64.tar.gz -C /opt
        sudo ln -s /opt/cmake-3.16.2-Linux-x86_64/bin/* /usr/local/sbin
        cmake --version

        # gcc-arm-none-eabi
        sudo tar jxf ./downloads/gcc-arm-none-eabi-8-2019-q3-update-linux.tar.bz2 -C /opt
        echo "Installed gcc-arm-none-eabi-8-2019-q3-update to /opt/gcc-arm-none-eabi-8-2019-q3-update"

    - name: Install Windows dependencies
      if: runner.os == 'Windows'
      run: |
        choco install -y cmake --installargs 'ADD_CMAKE_TO_PATH=System' --no-progress
        choco install ninja dtc-msys2 gperf --no-progress
        
        if (Test-Path "downloads") {
          Write-Host "Using cached downloads"
        } else {
          Write-Host "Cached downloads missing. Downloading..."
          mkdir downloads
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest https://s3-eu-west-1.amazonaws.com/resources.exploratory.engineering/gcc-arm-none-eabi-8-2019-q3-update-win32.zip -OutFile downloads\gcc-arm-none-eabi-8-2019-q3-update-win32.zip -TimeoutSec 180
        }

        # gcc-arm-none-eabi
        7z x -bd -oC:\gnuarmemb .\downloads\gcc-arm-none-eabi-8-2019-q3-update-win32.zip
        Write-Host "Installed gcc-arm-none-eabi-8-2019-q3-update to C:\gnuarmemb"
        
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Install pipenv
      run: |
        curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
        python get-pip.py pip==19.3.1
        python -m pip install --no-deps -I 'pipenv==2018.11.26'
        python -m pip install --no-deps -I 'virtualenv==20.0.12'
        python -m pip install --no-deps -I 'virtualenv-clone==0.5.3'
        python -m pip install --no-deps -I 'appdirs==1.4.3'
        python -m pip install --no-deps -I 'certifi==2019.11.28'
        python -m pip install --no-deps -I 'distlib==0.3.0'
        python -m pip install --no-deps -I 'filelock==3.0.12'
        python -m pip install --no-deps -I 'importlib-metadata==1.5.0'
        python -m pip install --no-deps -I 'setuptools==46.0.0'
        python -m pip install --no-deps -I 'six==1.14.0'
        python -m pip install --no-deps -I 'wheel==0.34.2'
        python -m pip install --no-deps -I 'zipp=3.1.0'
        python -m pip list

    - name: Install Python dependencies
      run: pipenv install

    - name: Install west dependencies
      run: pipenv run west update

    - name: Build hello_world sample
      env:
        GNUARMEMB_TOOLCHAIN_PATH: ${{ env[format('GNUARMEMB_TOOLCHAIN_PATH_{0}', runner.os)] }}
      run: |
        pushd samples/hello_world
        pipenv run west build
        popd
    
    - name: Build fota sample
      env:
        GNUARMEMB_TOOLCHAIN_PATH: ${{ env[format('GNUARMEMB_TOOLCHAIN_PATH_{0}', runner.os)] }}
      run: |
        pushd samples/fota
        pipenv run imgtool keygen --key cert.pem --type rsa-2048
        pipenv run west build
        popd
  
    - name: Build coap sample
      env:
        GNUARMEMB_TOOLCHAIN_PATH: ${{ env[format('GNUARMEMB_TOOLCHAIN_PATH_{0}', runner.os)] }}
      run: |
        pushd samples/coap
        pipenv run west build
        popd
